* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --orange: #e47b0a;
    --weakOrange: #ed8f0c;
    --white: #ffff;
    --weakGray: #dbdbdc;
    --weakGray2: #6e6e6e9d;
    --darkGray: #303f4e;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


/* Pagina de cadastro de produtos */
.menu {
    background-color: var(--weakOrange);
    width: 190px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    padding: 30px 5px;
    position: fixed;
    left: -190px;
    transition: ease-in 0.3s; 
}

.menu.menu_aberto {
    left: 0px;
}

.menu a {
    color: var(--weakGray);
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: var(--darkGray);
    transition: 0.3s;
}

.menu i {
    color: var(--darkGray);
    margin-right: 5px;
}

.open_menu {
    width: 80px;
    height: 70px;
    background-color:var(--weakOrange);
    border-radius: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 45%;
    right: -35px;
    cursor: pointer;
}
.menu .btn-open-menu {
    color: var(--weakGray);
    font-size: 28px;
    margin-right: 7px;
}

.menu .btn-open-menu.rotateBtn{
    transform: rotate(180deg);
}

.layout {
    width: 100%;
    height: 100vh;
    background-color: var(--weakGray2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout h1 {
    font-size: 34px;
    color: var(--white);
    margin-bottom: 40px;
}

.layout form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    background-color: var(--darkGray);
    padding: 30px;
    border-radius: 25px;
}

.layout label {
    color: var(--orange);
    font-weight: bold;
    margin-bottom: 3px;
}

.layout input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 5px 0 20px 0;
    font-size: 24px;
    padding: 5px;
    background-color: var(--weakGray);
}

.layout input:focus {
    outline: none;
}

.layout button {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--weakOrange);
    border: none;
    border-radius: 5px;
    color: var(--weakGray);
    cursor: pointer;
    margin-top: 30px;
}


.layout button:hover {
    background-color: var(--orange);
    transition: 0.3s;
}

#msgErro {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #f82a2a;
}

/* Fim da pagina de cadastro */